@charset "ISO-8859-1";

body
{
	background-color: #ffc8dd ;
}

.container {

  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

input[type="text"] {
  width: 300px;
  padding: 5px;
  margin-left: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
